*.info;mail.none;authpriv.none;cron.none        @10.10.100.173:11514;RSYSLOG_SyslogProtocol23Format
kern.*                                          @10.10.100.173:11514;RSYSLOG_SyslogProtocol23Format
authpriv.*                                      @10.10.100.173:11514;RSYSLOG_SyslogProtocol23Format
local6.*                                        @10.10.100.173:11514;RSYSLOG_SyslogProtocol23Format